.cvForms {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.cvForm {
    border: 2px solid lightgray;
    padding: 1.8rem;
    border-radius: 5px;
    background: #f9f9f9;
    display: grid;
    gap: 1rem;
    transition: 0.2s ease-out;
}

.cvForm:hover {
    border-color: hsl(0, 0%, 70%);
}

.cvForm h3 {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    svg {
        font-size: 1.2em;
    }
}

.inputContainer {
    margin-top: 2%;
    display: grid;
    gap: 1rem;
}

.input {
    flex: 1;
    display: grid;
    gap: 1rem;
    color: gray;
    transition: 0.2s ease-out;

    p {
        margin-bottom: 0.9rem;
    }

    input[type="text"] {
        width: 60%;
    }
}

.input:hover {
    color: var(--primary-color);

    input {
        border-color: gray;
    }
}

.input input {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: 1px solid transparent;
    transition: 0.2s ease-out;
}

.input input[type="file"] {
    border-style: dashed;
    border-width: 2px;
    margin-bottom: 0.4rem;
    cursor: pointer;
}

.input input:focus {
    border-color: gray;
}

.actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.addButton,
.resetButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton {
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
    transition: 0.2s;
}

.addButton:hover {
    transform: translateY(-0.2rem);
}

.resetButton {
    background-color: transparent;
    color: gray;
}
