.cvForms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.cvForm {
    border: 2px solid lightgray;
    padding: 1.8rem;
    border-radius: 5px;
    background: #f9f9f9;
    display: grid;
    gap: 1rem;
    min-width: 500px;
    max-width: 50%;
    transition: 0.2s ease-out;
}

.cvForm:hover {
    border-color: hsl(0, 0%, 70%);
}

.cvForm h3 {
    margin-bottom: 1.1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    svg {
        font-size: 1.2em;
    }
}

.inputContainer {
    display: grid;
    gap: 0.65rem;
}

.multiColumn {
    margin: 1.1rem 0;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.input {
    flex: 1;
    display: grid;
    gap: 0.7rem;
    /* font-size: 1.5em; */
    color: gray;
    transition: 0.2s ease-out;
}

.input:hover {
    color: var(--primary-color);

    input,
    textarea {
        border-color: gray;
    }

    input {
        cursor: pointer;
    }
}

.input input,
.input textarea {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: 1px solid transparent;
    transition: 0.2s ease-out;
}

.input input {
    border-style: dashed;
    border-width: 2px;
    margin-bottom: 0.4rem;
}

.input input:focus,
.input textarea:focus {
    border-color: gray;
}

.actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.addButton,
.resetButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addButton {
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
    transition: 0.2s;
}

.addButton:hover {
    transform: translateY(-0.2rem);
}

.resetButton {
    background-color: transparent;
    color: gray;
}
