.header {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 1.4rem 3rem;
    border-bottom: 2px solid lightgray;
}

.header h1 {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: black;
}

.header .svg {
    padding: 0.4rem;
    display: grid;
    place-items: center;
    /* background-color: hsl(210, 7%, 83%); */
    background-color: var(--primary-color);
    border-radius: 50%;
}

.svg svg {
    font-size: 0.85em;
    color: white;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 0.7rem;
}

.header a {
    color: hsl(210, 7%, 65%);
    border: 1px solid hsl(210, 7%, 65%);
    border-radius: 3px;
    padding: 0.4rem 0.9rem;
    transition: 0.2s;
}

.header a:hover {
    color: hsl(210, 7%, 30%);
    border-color: hsl(210, 7%, 30%);
}
