.markdownComponent {
    /* padding: 2rem;
    border: 1px solid lightgray;
    border-radius: 5px; */
    /* font-size: 14px; */
    /* width: 70vw; */
    background-color: transparent;
    overflow: hidden;
    margin-top: 2%;
}

/* Cabeçalhos */
.markdownComponent h1,
.markdownComponent h2,
.markdownComponent h3,
.markdownComponent h4,
.markdownComponent h5,
.markdownComponent h6 {
    margin-bottom: 1rem;
    font-weight: bold;
}

.markdownComponent h1 {
    font-size: 2.5em;
    border-bottom: 2px solid var(--text);
    padding-bottom: 1rem;
}

.markdownComponent h2 {
    font-size: 2em;
    opacity: 0.95;
    padding-bottom: 1rem;
}

.markdownComponent h3 {
    font-size: 1.75em;
    opacity: 0.9;
}

.markdownComponent h4,
.markdownComponent h5,
.markdownComponent h6 {
    font-size: 1.25em;
    opacity: 0.85;
}

/* Parágrafos */
.markdownComponent p {
    margin-bottom: 1.2rem;
    font-size: 1em;
    color: #464646;
}

/* Links */
.markdownComponent a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

.markdownComponent a:hover {
    color: #1d78b6;
}

/* Listas */
.markdownComponent ul,
.markdownComponent ol {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.markdownComponent li {
    margin-bottom: 0.5rem;
}

/* Listas ordenadas */
.markdownComponent ol {
    list-style-type: decimal;
}

.markdownComponent ul {
    list-style-type: disc;
}

.markdownComponent ul li {
    list-style-type: square;
}

/* Bloco de citação */
.markdownComponent blockquote {
    background-color: #f1f1f1;
    border-left: 4px solid var(--text);
    padding: 10px 15px;
    font-style: italic;
    color: #697475;
    margin: 1rem 0;
}

.markdownComponent blockquote p {
    margin-bottom: 0;
}

/* Códigos */
.markdownComponent code {
    font-family: "Courier New", Courier, monospace;
    background-color: #f4f4f4;
    padding: 2px 5px;
    border-radius: 4px;
    color: #e74c3c;
}

.markdownComponent pre code {
    display: block;
    background-color: #2c3e50;
    padding: 15px;
    border-radius: 6px;
    color: #ecf0f1;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Tabelas */

.markdownComponent table {
    padding: 0.7rem 0 3rem 0;
    border-spacing: 0.7rem;
}

.markdownComponent th,
.markdownComponent td {
    border: 1px solid lightgray;
    padding: 1rem;
    text-align: left;
    transition: 0.2s ease-out;
}

.markdownComponent td:hover {
    border-color: gray;
}

.markdownComponent th {
    background-color: hsl(0, 0%, 87%);
}

.markdownComponent thead th:first-child {
    border-top-left-radius: 8px;
}

.markdownComponent thead th:last-child {
    border-top-right-radius: 8px;
}

.markdownComponent tbody td {
    border-radius: 5px;
}

/* Imagens */
.markdownComponent img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 1rem;
}

/* Divisores */
.markdownComponent hr {
    border: 1px solid #ddd;
    margin: 1.5rem 0;
}

/* Botões */
.markdownComponent button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.markdownComponent button:hover {
    background-color: #2980b9;
}

/* Exibição de lista de tarefas */
.markdownComponent ul.task-list {
    list-style-type: none;
}

.markdownComponent ul.task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.markdownComponent ul.task-list li input[type="checkbox"] {
    margin-right: 10px;
}
